.flex-box {
	display: flex;
  width: 100%;
	flex-wrap: wrap;
  padding: 20px 0;
}

.flex-box .flex-item {
  height: 100px;
  margin: 5px;
  padding: 10px;
  text-align: center;
  border: 1px solid grey;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  flex: 0 0 200px;
}

