.sorting {
	display: flex;
}

.sorting a {
	display: inline-block;
	border: 1px solid lightgrey;
	padding: 10px;
	margin-left: 0;
	margin-right: 0;
}

.sorting a:not(:last-child) {
	border-right: 0;
}

.sorting a.active {
	background-color: hsl(168, 100%, 90%);
}

.numbers {
	border: 1px solid orange;
	padding: 5px;
	font-size: 15px;
}

.numbers span {
	display: block;
	text-align: center;
}