/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;

}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
} 

li {
  list-style: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.t--light .footer {
  background-color: #f5f5f5;
}

.t--dark .footer, .t--dark .navbar {
  background-color: #0A0A0A;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

nav {
  padding: 10px;
}

nav + * {
  margin-top: 20px;
}

div.navbar-header img {
  float: left;
  margin-right: 15px;
}

body > .container {
  padding: 60px 15px 0;
}

.footer ul {
  display: flex;
  line-height: 60px;
  margin-bottom: 0;
}

.footer ul li {
  margin-right: 15px;
}

code {
  font-size: 80%;
}

