body {
	font-family: 'Roboto';
}

table#latest-questions {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px 20px;

}
table#latest-questions tr {
	background-color: lightgrey;
}

table#latest-questions tr td {
	padding: 15px;
}

table#latest-questions tr td a {
	font-size: 2em;
}

form input, form textarea {
	text-align: left;
	font-size: 13px;
	padding: 10px;
}

.container .row .col-sm-2:first-of-type {
	border-right: 0.5px solid lightgrey;
	height: 100vh;
}

.container .row .col-sm-2:first-of-type .fixed-sidebar {
	position: fixed;
}

.container .row .col-sm-2:first-of-type a {
	display: block;
	color: grey;
	padding: 15px;
	margin: 10px 10px;
	background-color: #e6e6e6;
}

div.answers p {
	border: 1px solid black;
	padding: 30px;
}

