body {
	font-family: 'Roboto';
}

form {

}

form fieldset {
	max-height: 40vh;
}

form fieldset p {
	height: 2em;
}

form fieldset p button {
	height: 1em;
}

form fieldset p button img {
	height: 100%;
}

