table#question-page-table {
	padding: 0px;
	width: 790px;
	border-collapse: separate;
	border-spacing: 10px 50px;
}

table#question-page-table tr td button {
	background-color: transparent;
	width: 100px;
	border: none;
}

table#question-page-table tr td:first-child {
	width: 100px;
}

table#question-page-table tr td button > svg > path {
	fill: rgb(221, 221, 221);
}

table#question-page-table tr td div {
	text-align: center;
}

#bio {
	margin-bottom: 1em;
	width: 80%;
	font-size: 1em;
	height: 9em;
}

textarea#bio {
	display: block;
	resize: none;
}

output#bio {
	display: block;
}

#bio + button {
	display: block;
}

.home-page {
    font-family: 'Orbitron', 'Righteous', sans-serif;
	text-align: center;
}

.home-page h1 {
	font-size: 4em;
}

.home-page p {
	font-size: 1.5em;
}

button#myButton {
	margin-top: 4%;
	font-size: 4em;
	padding: 5% 10%;
	border-width: 4px;
	border-style: solid;
	text-transform: uppercase;
	margin-bottom: 2.5%;
}

button#products {
	border-radius: 5px;
	background: none;
	border: none;
	display: block;
	margin: 1em auto;
	padding: 0.5em;
}

button#products:hover {
	background-color: lightgrey;
}

.t--dark button#products {
	color: white;
}

.t--dark button#products:hover {
	color: black;
}

td.output {
	color: hsl(0, 0%, 15%);
}

footer.footer {
	
}

