html, body, #log-out-btn-container {
	height: calc(100% - 8px);
	width: calc(100% - 8px);
}

#log-out-btn-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

#log-out-btn {
	font-size: 2rem;
}

#successful-logout {
	background-color: #99ff99;
	border-radius: 80%;
	text-align: center;
}
