[submodule "feasts.bforborum.com"]
	path = feasts.bforborum.com
	url = git://github.com/Borumer/order.js.git
[submodule "restaurants.bforborum.com"]
	path = restaurants.bforborum.com
	url = git://github.com/Borumer/Ravenous.git
