[submodule "feasts.bforborum.com"]
	path = feasts.bforborum.com
	url = https://github.com/Borumer/order.js
[submodule "restaurants.bforborum.com"]
	path = restaurants.bforborum.com
	url = https://github.com/Borumer/Ravenous
[submodule "BorumPaint"]
	path = BorumPaint
	url = https://github.com/Borumer/paint-a-picture-backup.git
