#notifications {
	border: 1px double grey;
	height: 400px;
	width: 300px;
	position: absolute;
	right: 60px;
	margin-top: 12px;
	clear: both;
	background-color: white;
	overflow: auto;
}

#notifications > div {
	font-size: 85%;
	border-bottom: 1px solid grey;
	height: 130px;
	overflow: hidden;
}

#notifications > div > a {
	padding: 10px;
	display: block;
	text-decoration: none;
	color: black;
	height: 100%;
}

#notifications > div > a > div > span.date {
	margin-left: 20px;
}

#notifications > div > a > p {
	clear: both;
	margin-top: 0;
}

@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');

.button {
  font: normal 16px 'Livvic', sans-serif;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  -webkit-appearance: button;
}

input[type="submit"] {
	width: 14.75em;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	border: none;
}

div.page-with-form-body > h1, div.page-with-form-body > form > p:not(.form-inputs) {
	text-align: center;
}

div.page-with-form-body > form > p.form-inputs {
	margin-left: 34%;
}

#users-table .one {
	background-color: #ffffff;
}

#users-table .two {
	background-color: #eeeeee;
}

