table.question-list {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 20px;
}
table.question-list tr {
	background-color: rgba(124, 150, 124, 0.2);
}

table.question-list tr td {
	padding: 15px;
}

table.question-list tr td a {
	font-size: 18px;
}

table.question-list tr td.date-diff {
	width: 200px;
}

.sorting {
	display: flex;
}

.sorting a {
	display: inline-block;
	border: 1px solid lightgrey;
	padding: 10px;
	margin-left: 0;
	margin-right: 0;
}

.sorting a:not(:last-child) {
	border-right: 0;
}

.sorting a.active {
	background-color: hsl(168, 100%, 90%);
}

.block {
	display: block;
}

.numbers {
	padding: 5px;
}

.numbers span {
	display: block;
	text-align: center;
}
