.flex-box {
	display: flex;
  width: 100%;
	flex-wrap: wrap;
}

.flex-box#topic-list {
  padding-top: 20px;
}

.flex-box > a, .flex-box > div.dark-mode { /* Settings.php */
  border: 10px double orange;
  margin: 20px;
  padding: 5px;
  height: 75px;
  line-height: 50px;
  color: rgb(15, 160, 255);
  text-decoration: none;
}

.flex-box > li { /* Topics.php */
  margin: 5px;
  padding: 10px;
  height: 75px;
}

.flex-box > * {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  flex: 0 1 200px;
}

footer > ul.social-media {
  text-align: center;
  float: right;
  padding-top: 10px;
  padding-left: 10px;
}

ul.social-media > li {
  display: inline-block;
  list-style-type: none;
  -webkit-user-select:none;
  -moz-user-select:none;
}

li > a.social-media-links {
  border-bottom: none;
}

a.social-media-links img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  vertical-align: baseline;
}

ul.social-media > li > a > img:hover {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (min-width: 681px) {
  ul.social-media a.twitter img:hover {
    background: url(http://cdn.bforborum.com/images/Twitter_Social_Icon_Circle_Color.svg) no-repeat;
    background-size: 40px 40px;
    padding-right: 40px; /* Equal to width of new image */
  }

  ul.social-media a.youtube img:hover {
    background: url(http://cdn.bforborum.com/images/youtube_social_circle_red.png) no-repeat;
    background-size: 40px 40px;
    padding-right: 40px;
  }
}
