/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-right: 0;
}

li {
  list-style: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.t--light .footer {
  background-color: #f5f5f5;
}

.t--dark .footer, .t--dark .navbar {
  background-color: #0A0A0A;
  color: white;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

nav {
  padding: 10px;
  height: 77px;
}

.row {
  margin-top: 80px;
  margin-left: 0;
  margin-right: 0;
}

.navbar-header:after {
  clear: none;
}

@media only screen and (min-width: 768px) {
 div.navbar-header {
    width: 235px;
    margin-right: 15px;
  }
}


div.navbar-header img {
  float: left;
}

div.navbar-profile {
  float: right;
  padding: 10px 0;
}

div.navbar-profile > a {
  padding: 20px 10px;
  text-decoration: none;
}

div.navbar-profile > a:hover, #notifications > div > a:hover {
  background-color: lightgrey;
}

div.navbar-profile > a > img {
  height: 30px;
  width: 30px;
}

body > .container {
  margin-top: 60px;
}

.footer ul.footer-links {
  display: inline-flex;
  line-height: 60px;
  margin-bottom: 0;
  padding-left: 10px;
  flex-wrap: wrap;
}

.footer ul.footer-links li {
  margin-right: 15px;
}

code {
  font-size: 80%;
}

a.navbar-brand {
  padding: 0;
}

a.navbar-brand span {
  margin-left: 45px;
  margin-top: 15px;
  display: block;
}
